name: capybara-en-us

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '20 4 * * *'

jobs:
  test:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Ruby 2.7
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
        bundler-cache: true
    - name: Lint with rubocop
      run: bundle exec rake rubocop
    - name: Test with capybara
      run: bundle exec rake
