name: capybara-en-us

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '20 4 * * *'

jobs:
  test:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: Cache gem modules
      uses: actions/cache@v2
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Install dependencies
      run: |
        gem install bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
    - name: Lint with rubocop
      run: bundle exec rake rubocop
    - name: Test with capybara
      run: bundle exec rake
